body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #ff6f00;
    color: #fff;
    position: fixed;
    height: 100vh;
    transition: all 0.3s;
    font-size: 1.1rem;
    font-weight: bold;
}
#sidebar.collapsed {
    margin-left: -250px;
}
#sidebar a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
}
#sidebar a:hover, #sidebar a.active {
    color: #fff;
    background-color: #C76E00;
}
#sidebar .sidebar-header {
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}

#content {
    margin-left: 250px;
    transition: all 0.3s;
}
#content.collapsed {
    margin-left: 0;
}

.navbar {
    z-index: 1000;
}
.btn-orange {
    background-color: #ff6f00;
    color: white;
    }
    
    .btn-orange:hover {
    background-color: darkorange;
    color: white;
    }
    
    